.footer {
    background-color: lightgray;
    border-top: 1px solid gray;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    margin-top: 2em;
    padding: 0.5em;
}

.text-accent {
    color: purple;
}
