* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
main {
    padding: 2em 0;
}
.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
p {
    line-height: 1.6;
}

input,
textarea,
label {
    display: block;
}

input,
textarea {
    padding: 0.5em 1em;
}

textarea {
    width: 100%;
}

main {
    min-height: 80vh;
}